In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')
df1 = pd.read_csv('first_classify_data.csv')
df2 = pd.read_csv('other_disease.csv')

In [13]:
counts1 = df1.groupby('pre_labels').size().reset_index(name='counts')
counts1['key'] = '帕金森'
# 0 refers advertisements, 1 refers the opposite

In [7]:
counts2 = df2.groupby(['key','pre_labels']).size().reset_index(name='counts').drop([0,1]).reset_index(drop=True)
counts2

       key  pre_labels  counts
0       中风           0     661
1       中风           1     579
2      冠心病           0     118
3      冠心病           1    1122
4      渐冻症           0     423
5      渐冻症           1     817
6      糖尿病           0     397
7      糖尿病           1     843
8      肌少症           0     174
9      肌少症           1    1032
10     肺栓塞           0     189
11     肺栓塞           1    1051
12     脑卒中           0     186
13     脑卒中           1    1054
14  阿尔兹海默症           0     536
15  阿尔兹海默症           1     704
16     高血压           0     382
17     高血压           1     858

In [9]:
stats = pd.DataFrame(columns=['disease','ad-ratio','non-ad-ratio'])
for name in set(counts2['key']):
    tmp = counts2.loc[counts2['key'] == name,['pre_labels','counts']].reset_index(drop=True)
    ratio0 = tmp.iloc[0,1]/tmp['counts'].sum()
    ratio1 = tmp.iloc[1,1]/tmp['counts'].sum()
    stats.loc[len(stats)] = [name, ratio0,ratio1]
ratio0 = counts1.iloc[0,1]/ counts1['counts'].sum()
ratio1 =  counts1.iloc[1,1]/ counts1['counts'].sum()
stats.loc[len(stats)] = ['帕金森', ratio0,ratio1]
stats

  disease  ad-ratio  non-ad-ratio
0      中风  0.533065      0.466935
1     脑卒中  0.150000      0.850000
2     渐冻症  0.341129      0.658871
3     糖尿病  0.320161      0.679839
4     冠心病  0.095161      0.904839
5  阿尔兹海默症  0.432258      0.567742
6     肌少症  0.144279      0.855721
7     高血压  0.308065      0.691935
8     肺栓塞  0.152419      0.847581
9     帕金森  0.484458      0.515542

In [10]:
def summary_statistics(df):
    df_summary = df.describe().T
    df_summary['std'] = df.var()
    return df_summary
summary_statistics(stats.drop([8]))

,count,mean,std,min,25%,50%,75%,max
ad-ratio,9.0,0.312064,0.024425,0.095161,0.150000,0.320161,0.432258,0.533065
non-ad-ratio,9.0,0.687936,0.024425,0.466935,0.567742,0.679839,0.850000,0.904839

In [14]:
from scipy.stats import chi2_contingency
import numpy as np
stats = pd.DataFrame(columns=['疾病','p-value'])
for name in set(counts2['key']):
    tmp = counts2.loc[counts2['key'] == name].reset_index(drop=True)
    tmp = pd.concat([tmp, counts1],axis=1)
    tmp = tmp[['counts','counts-1']].T
    print(name)
    print(tmp)
    print('\n')
    _, p_value, _, _ = chi2_contingency(tmp)
    stats.loc[len(stats)] = [name, np.round(p_value,5)]
stats

中风
               0       1
counts    179341  190848
counts-1     661     579


脑卒中
               0       1
counts    179341  190848
counts-1     186    1054


渐冻症
               0       1
counts    179341  190848
counts-1     423     817


糖尿病
               0       1
counts    179341  190848
counts-1     397     843


冠心病
               0       1
counts    179341  190848
counts-1     118    1122


阿尔兹海默症
               0       1
counts    179341  190848
counts-1     536     704


肌少症
               0       1
counts    179341  190848
counts-1     174    1032


高血压
               0       1
counts    179341  190848
counts-1     382     858


肺栓塞
               0       1
counts    179341  190848
counts-1     189    1051

       疾病  p-value
0      中风  0.00070
1     脑卒中  0.00000
2     渐冻症  0.00000
3     糖尿病  0.00000
4     冠心病  0.00000
5  阿尔兹海默症  0.00027
6     肌少症  0.00000
7     高血压  0.00000
8     肺栓塞  0.00000